* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#generatorWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#generatorContainer {
  display: flex;
  flex-direction: column;
  align-self: center;

}